
.portfolio-section {
    width: 100%;
    margin-top: 40px;
}

.portfolio-section h1 {
    font-size: 4.5rem;
    text-align: center;
    color: aqua;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.portfolio-section .contenedor {
    width: 100%;
    height: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 40px;
}

.proyecto-figure {
    height: 250px;
    width: 350px;
    background-color: #000000;
    border: 1px solid #302F2F;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s all;
    overflow: hidden;
}

.proyecto-figure:hover {
    box-shadow: 0 0 20px aqua;
}

.proyecto-figure h3{
    color: rgb(0, 210, 210);
    text-shadow: 0 0 30px aqua;
}

.proyecto-figure .project-image {
    border-radius: 20px 20px 0 0 ;
    height: 200px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.proyecto-figure .wordgame {
    background-image: url(../images/wordgame.png);
}

.proyecto-figure .wheaterapp {
    background-image: url(../images/wheaterapp.png);
}

.proyecto-figure .todoapp {
    background-image: url(../images/todoapp.png);
}

.proyecto-figure .pokedex {
    background-image: url(../images/pokedex.png);
}

.proyecto-figure .tresenraya {
    background-image: url(../images/3enraya.png);
}

.proyecto-figure .agecalculator {
    background-image: url(../images/agecalculator.png);
}

.proyecto-figure .snakegame {
    background-image: url(../images/snakegame.png);
}

.proyecto-figure .landingpage {
    background-image: url(../images/landingpage.png);
}

.portfolio-section .proyecto-figure .project-link {
    font-style: normal;
    text-decoration: none;
    margin-bottom: 20px;
}

.portfolio-section .proyecto-figure .github-link {
    background-image: url(../images/github-icon2.png);
    background-color: rgb(95, 95, 95);
    border-radius: 20px 20px 0px 0px;
    height: 60px;
    width: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: 0.3s all;
}

.portfolio-section .proyecto-figure .github-link:hover {
    background-color: aqua;
    cursor: pointer;
}