
.portfolio-section {
    width: 100%;
}

.portfolio-section h1 {
    font-size: 4.5rem;
    text-align: center;
    color: aqua;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.portfolio-section .contenedor {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}