.proyecto-figure {
    height: 250px;
    width: 350px;
    background-color: #000000;
    border: 1px solid #302F2F;
    border-radius: 20px;
}

.proyecto-figure h3{
    color: rgb(0, 210, 210);
    text-shadow: 0 0 30px aqua;
}