
.container-skills {
    position: relative;
    width: 100%;
    height: auto;
    background: linear-gradient(rgba(0, 0, 0, 0), rgb(38, 8, 121));
}

.container-skills h1 {
    text-align: center;
    font-size: 4.5rem;
    color: aqua;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container2-skills {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

.window {
    height: auto;
    width: 550px;
    margin-left: 20px;
    border-radius: 10px;
    background-color: #100020;
    margin-bottom: 40px;
}

.head-window {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 50px;
    background-color: rgb(69, 66, 63);
    display: flex;
    justify-content: start;
    align-items: center;
}

.btn-red {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: rgb(236, 64, 28);
    margin-left: 12px;
    cursor: pointer;
}

.btn-yellow {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: #FEAD05;
    margin-left: 12px;
    cursor: pointer;
}

.btn-green {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: #15FD08;
    margin-left: 12px;
    cursor: pointer;
}

.head-window p {
    margin-left: 20px;
    color: #D4D4D5;
    font-size: 1.2rem;
}

.window p {
    color: rgb(228, 228, 228);
    font-size: 1.5rem;
    padding: 10px;
}

.light-letters {
    color: rgb(0, 210, 210);
    text-shadow: 0 0 30px aqua;
}

.btn1 {
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 20px;
    color: aqua;
    font-size: 1.1rem;
    padding: 15px 30px;
    background-color: black;
    border-radius: 7px;
    border: 2px solid white;
    box-shadow: 0 0 20px aqua;
    cursor: pointer;
    transition: 0.3s all;
}

.btn1:hover {
    border: 2px solid rgb(3, 255, 3);
}

.carousel {
    z-index: 5;
    width: 100%;
    height: auto;
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    transition: 0.3s all;
    margin-bottom: 40px;
}

.imagen-icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 96px;
    width: 96px;
}

.astro-icon {
    background-image: url(../images/astro-icon.png);
}

.js-icon {
    background-image: url(../images/js-icon.png);
}

.html-icon {
    background-image: url(../images/html-icon.png);
}

.css-icon {
    background-image: url(../images/css-icon.png);
}

.react-icon {
    background-image: url(../images/react-icon.png);
}

.tailwind-icon {
    background-image: url(../images/tailwind-icon.png);
}

.python-icon {
    background-image: url(../images/python-icon.png);
}

.php-icon {
    background-image: url(../images/php-icon.png);
}

.laravel-icon {
    background-image: url(../images/laravel-icon.png);
}

.fastapi-icon {
    background-image: url(../images/fastapi-icon.png);
}

.icon-contenedor {
    height: 96px;
    width: 96px;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
}

@media (max-width: 1000px) {
    .container2-skills {
        flex-direction: column;
    }

    .window{
        width: 90%;
        height: auto;
        min-width: none;
    }

    .container-skills {
        height: auto;
    }

}

@media (max-width: 450px) {
    .window p {
        font-size: 1.1rem;
    }
}