
.container-skills {
    position: relative;
    width: 100%;
    height: 80vh;
    background: linear-gradient(rgba(0, 0, 0, 0), black, rgba(38, 8, 121, 0.995));
}

.container-skills h1 {
    text-align: center;
    font-size: 4.5rem;
    color: aqua;
}

.container2-skills {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.window {
    height: auto;
    width: 550px;
    margin-left: 20px;
    border-radius: 5px;
    background-color: #100020;
}

.head-window {
    width: 100%;
    height: 50px;
    background-color: rgb(69, 66, 63);
    display: flex;
    justify-content: start;
    align-items: center;
}

.btn-red {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: rgb(236, 64, 28);
    margin-left: 12px;
    cursor: pointer;
}

.btn-yellow {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: #FEAD05;
    margin-left: 12px;
    cursor: pointer;
}

.btn-green {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: #15FD08;
    margin-left: 12px;
    cursor: pointer;
}

.head-window p {
    margin-left: 20px;
    color: #D4D4D5;
    font-size: 1.2rem;
}

.window p {
    color: rgb(228, 228, 228);
    font-size: 1.5rem;
    padding: 10px;
}

.light-letters {
    color: rgb(0, 210, 210);
    text-shadow: 0 0 30px aqua;
}

.btn1 {
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 20px;
    color: aqua;
    font-size: 1.1rem;
    padding: 15px 30px;
    background-color: black;
    border-radius: 7px;
    border: 2px solid white;
    box-shadow: 0 0 20px aqua;
    cursor: pointer;
    transition: 0.3s all;
}

.btn1:hover {
    border: 2px solid rgb(3, 255, 3);
}