.tools-section {
    height: 90vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tools-section h1 {
    font-size: 4.5rem;
    color: aqua;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 80px;
}

.tools-section div {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.tools-section div div {
    position: relative;
    height: 96px;
    width: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nombre {
    position: absolute;
    color: white;
    top: 100px;
    left: auto;
    right: auto;
    opacity: 0;
    transition: 0.3s all;
    pointer-events: none;
    font-size: 1.6rem;
    text-wrap: nowrap;
}

.tools-section div div span:hover + .nombre {
    top: -35px;
    opacity: 1;
}

.tools-section div .icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 96px;
    width: 96px;
}

.xampp-icon {
    background-image: url(../images/xampp-icon.png);
}

.visual-studio-code-icon {
    background-image: url(../images/visual-studio-code-icon.png);
}

.git-icon {
    background-image: url(../images/git-icon.png);
}

.postman-icon {
    background-image: url(../images/postman-icon.png);
}

.figma-icon {
    background-image: url(../images/figma-icon.png);
}