.whois-section {
    height: 100vh;
    width: 100%;
    background-color: black;
    text-align: center;
}

.whois-section h1 {
    color: white;
    font-size: 4.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.whois-section h1 strong {
    color: aqua;
    text-shadow: 0 0 30px aqua;
}

.whois-content {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whois-content .content-extern {
    height: 600px;
    width: 400px;
    background-color: #0F031A;
    border-radius: 15px;
    border: 1px solid #3A3043;
    box-shadow: 0 0 100px #191d4a;
}