---
import Layout from '../layouts/Layout.astro';
import FondoFixed from '../components/fondoFixed.astro';
import Hero from '../components/Hero';
import Skills from '../components/Skills';
import Tools from '../components/Tools';
---

<Layout title="Pitt1Dev">
	<main>
		<FondoFixed/>
		<Hero/>
		<Skills client:load/>
		<Tools client:load/>
	</main>
</Layout>

<style>

</style>
