---
import Layout from '../layouts/Layout.astro';
import FondoFixed from '../components/fondoFixed.astro';
---

<Layout title="Pitt1Dev">
	<main>
		<FondoFixed/>
	</main>
</Layout>

<style>

</style>
